*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
!/.idea/misc.xml
!/.idea/
!/.idea/modules.xml
!/.idea/caches/build_file_checksums.ser
!/.idea/gradle.xml
!/.idea/modules.xml
!/.idea/codeStyles/Project.xml
